<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>templateNumber</key>
	<integer>3</integer>
	<key>template-default (Copy this and change content)</key>
	<dict>
		<key>photoFramePath</key>
		<string></string>
		<key>photoClothNumber</key>
		<integer>6</integer>
		<key>photoCloth0</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth1</key>
		<dict>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth2</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth3</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth4</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth5</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoWeather</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>photoTitle</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>350</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>50</integer>
			<key>fontSize</key>
			<integer>40</integer>
		</dict>
		<key>photoLocation</key>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>photoTime</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>template0</key>
	<dict>
		<key>photoFramePath</key>
		<string>template1.png</string>
		<key>photoClothNumber</key>
		<integer>6</integer>
		<key>photoCloth0</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth1</key>
		<dict>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth2</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth3</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth4</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth5</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoWeather</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>photoTitle</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>350</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>50</integer>
			<key>fontSize</key>
			<integer>40</integer>
		</dict>
		<key>photoLocation</key>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>photoTime</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>300</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>template1</key>
	<dict>
		<key>photoFramePath</key>
		<string>template2.png</string>
		<key>photoClothNumber</key>
		<integer>3</integer>
		<key>photoCloth0</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth1</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>70</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth2</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>135</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoTime</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>photoTitle</key>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>350</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>50</integer>
			<key>fontSize</key>
			<integer>40</integer>
		</dict>
		<key>photoWeather</key>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>template2</key>
	<dict>
		<key>photoClothNumber</key>
		<integer>4</integer>
		<key>photoCloth0</key>
		<dict>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth1</key>
		<dict>
			<key>x</key>
			<integer>103</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth2</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>60</integer>
		</dict>
		<key>photoCloth3</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>5</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>120</integer>
		</dict>
		<key>photoTitle</key>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>350</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>50</integer>
			<key>fontSize</key>
			<integer>40</integer>
		</dict>
		<key>photoLocation</key>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
		<key>photoTime</key>
		<dict>
			<key>alignment</key>
			<real>0</real>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>290</integer>
			<key>height</key>
			<integer>30</integer>
			<key>fontSize</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
